.titleLink {
    text-decoration-line: none;
    color: black;
}

.titleLink:hover {
    background-color: rgb(26, 20, 70);
    color: #F5F5F5;
    font-weight: bold;
}

.scroll {
    max-height: 400px;
    overflow-y: auto;
}